h1 {
    color: lightgreen;
    font-family: 'Times New Roman', Times, serif;
}

.medium {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

h2 {
    color: lightgreen;
    font-family: 'Times New Roman', Times, serif;
}

.hubby {
    color: lightcoral;
    font-family: 'Times New Roman', Times, serif;
    
}